## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [11]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [5]:
num = int(input("Enter a number: "))
if num % 2==0:
    print(f"{num}is even ")
else:
    print(f"{num} is odd")

Enter a number:  3

3 is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [9]:

num = int(input("Enter a number: "))
print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  9

Multiplication Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [13]:
result = []
for num in range(2000, 3201): 
    if num % 7 == 0 and num % 5 != 0:
        result.append(str(num))
print(", ".join(result))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [15]:
data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
type_count = {}
for item in data:
    item_type = type(item).__name__  
    
    type_count[item_type] = type_count.get(item_type, 0) + 1
for dtype, count in type_count.items():
    print(f"{dtype}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [17]:

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
total = sum(item for item in data if isinstance(item, (int, float)))
print("Sum of numeric values:", total)

Sum of numeric values: 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [19]:
data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = "-".join(item for item in data if isinstance(item, str))
print("Concatenated string:", result)

Concatenated string: Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [21]:
def my_func(lst):
    total_sum = sum(item for item in lst if isinstance(item, (int, float)) and not isinstance(item, bool))   
    str_count = sum(1 for item in lst if isinstance(item, str))
    return {'Sum': total_sum, 'Count_of_Strs': str_count}
    
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = my_func(l1)
print(result)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [23]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers = []
for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print("Odd numbers using loop:", odd_numbers)

Odd numbers using loop: [5, 7, 97, 77, 23, 73, 61]

In [25]:
odd_numbers = [num for num in li if num % 2 != 0]

print("Odd numbers using list comprehension:", odd_numbers)

Odd numbers using list comprehension: [5, 7, 97, 77, 23, 73, 61]

In [27]:
odd_numbers = list(filter(lambda x: x % 2 != 0, li))
print("Odd numbers using lambda and filter:", odd_numbers)

Odd numbers using lambda and filter: [5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [35]:
def get_descriptives(numbers):
    total_sum = sum(numbers)
    count = len(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    mean = total_sum / count 
    return {'Sum': total_sum, 'Count': count, 'Min': minimum, 'Mean': mean, 'Max': maximum}

numbers = [2, 3, 5, 7, 11, 13, 17, 19]
result = get_descriptives(numbers)
print(result)

{'Sum': 77, 'Count': 8, 'Min': 2, 'Mean': 9.625, 'Max': 19}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [37]:
def calculate_area(shape, **kwargs):
    if shape == 'square':
        if 'side' in kwargs:
            return kwargs['side'] ** 2
        else:
            return "Please enter 'side' for a square."

    elif shape == 'rectangle':
        if 'length' in kwargs and 'width' in kwargs:
            return kwargs['length'] * kwargs['width']
        else:
            return "Please enter 'length' and 'width' for a rectangle."

    elif shape == 'circle':
        if 'radius' in kwargs:
            return 3.14159 * kwargs['radius'] ** 2
        else:
            return "Please enter 'radius' for a circle."
    
    return "Unsupported shape. Please use 'square', 'rectangle', or 'circle'."

print(calculate_area('square', side=5))  
print(calculate_area('rectangle', length=4, width=6))  
print(calculate_area('circle', radius=3))  
print(calculate_area('square'))
print(calculate_area('rectangle', length=4))

25
24
28.27431
Please enter 'side' for a square.
Please enter 'length' and 'width' for a rectangle.

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [79]:
def reconcile_lists(l1, l2):
    return {
        'Matched': list(set(l1) & set(l2)),
        'Only in l1': list(set(l1) - set(l2)),
        'Only in l2': list(set(l2) - set(l1))
    }
    
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

result = reconcile_lists(l1, l2)
print(result)

{'Matched': ['January', 'February', 'December', 'June'], 'Only in l1': ['May', 'September', 'March'], 'Only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [43]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

print(is_prime(11))  
print(is_prime(4))  
print(is_prime(1))   
print(is_prime(17))

True
False
False
True

Q14. Write a program which can compute the factorial of a given numbers. 
#The results should be printed in a comma-separated sequence on a single line. 
#input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [53]:
number = int(input("Enter a number: "))

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
fact = factorial(number)
print(fact)

Enter a number:  8

40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [57]:
n = int(input("Enter a number: "))
squares_dict = {i: i**2 for i in range(1, n + 1)}
print(squares_dict)

Enter a number:  7

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [59]:
input_numbers = input("Enter numbers separated by commas: ")
numbers_list = input_numbers.split(',')
numbers_tuple = tuple(numbers_list)

print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter numbers separated by commas:  34,67,55,33,12,98

List: ['34', '67', '55', '33', '12', '98']
Tuple: ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
#prints the words in a comma-separated sequence after sorting them alphabetically.

#Suppose the following input is supplied to the program: without,hello,bag,world
#Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [65]:
input_words = input("Enter words separated by commas: ")
words_list = input_words.split(',')

words_list.sort()
sorted_words = ','.join(words_list)
print(sorted_words)

Enter words separated by commas:  hello , world

 world ,hello

Q18. Write a program that accepts a sequence of whitespace separated words 
#as input and prints the words after removing all duplicate words and sorting them alphanumerically.
#Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
#Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [67]:
input_words = input("Enter words separated by spaces: ")
words_list = input_words.split()
unique_sorted_words = sorted(set(words_list))
sorted_words = ' '.join(unique_sorted_words)
print(sorted_words)

Enter words separated by spaces:  hello world and practice makes perfect and hello world again

again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
#letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [71]:
sentence = input("Enter a sentence: ")
upper_count = 0
lower_count = 0

for char in sentence:
    if char.isupper():
        upper_count += 1
    elif char.islower():
        lower_count += 1
print(f"UPPER CASE {upper_count} LOWER CASE {lower_count}")

Enter a sentence:  HELlo world

UPPER CASE 3 LOWER CASE 7

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [77]:
input_string = input("Enter a string: ")
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string:  dcba4321

Reversed string: 1234abcd